html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg-content {
    background-color: orange;
    width: 100vw;
    height: 100vh;
}

.h1-content {
    margin: 0;
    padding: 20px; 
}

.button-clik {
    margin: 10px;
    height: 20px; 
}